.card {
    display: flex;
    width: 100px;
    height: 200px;
    background-color: red;
    &-inner {
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        background-color: #fff; 
    }
}

@media (max-width: 992px) {
    .card {
        background-color: green;
    }
}

@media (max-width: 992px) {
    .card {
        &-inner {
            background-color: violet;
        }
    }
}