{% extends "templates/base/base.njk" %}
{% block main %}
    <p>Contacts</p>
    <div class="contacts">
        
    </div>
    <div class="contacts-img"></div>
    <img src="assets/img/about/about.jpg" alt="">
{% endblock %}